.colorChooser {
	min-width: 100px;
	min-height: 25px;
	opacity: 0.5;
}

.colorChooser.selected {
	opacity: 1.0;
}

#color1 { background-color: #f00; }
#color2 { background-color: #ffa500; }
#color3 { background-color: #ff0; }
#color4 { background-color: #0f0; }
#color5 { background-color: forestgreen; }
#color6 { background-color: skyblue; }
#color7 { background-color: #00f; }
#color8 { background-color: lavender; }
#color9 { background-color: #800080; }

#canvas {
	background-color: #fff;
}

td {
	vertical-align: top;
}

body, table, tbody, tr, td {
	overflow: hidden;
	padding: 0;
	margin:  0;
}
